<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {{shopRev.shoprevTitle}}
    </div>
    <div>
        {{shopRev.shopRating}}
    </div>
    <div>
        {{shopRev.shoprevCont}}
    </div>
    <div>
        {{shopRev.shoprevImage}}
    </div>
    <div>
        {{shopRev.shoprevDate}}
    </div>
    <div>
        {{shopRev.shoprevWDate}}
    </div>
    <div>
        {{shopRev.WriterID}}
    </div>
</body>
</html>