{% extends './base.html' %}
{% load static %}
{% block css %}
<link href={% static 'css/detail_theme.css' %} rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'widgets/rateit/rateit.css' %}">
<title>reservation</title>
{% endblock css %}

{% block content %}
<div class="content">

    <div class="themeInfoBox">
      <div class="themeInfo-top">
        <div class="imageField">
          <img src="{{theme.themeImage.url}}"> 
        </div>       
        <div class="themeInfo">
          <div>{{shop.shopName}}</div>
          <div><h2>{{theme.themeName}}</h2></div>
          <div class="info"><div class="text">난이도</div>
            <div class="rateit" data-rateit-value="{{theme.themeDifficulty}}" data-rateit-ispreset="true" 
            data-rateit-readonly="true" data-rateit-mode="font"  style="font-size:2vw;">
            </div> 
          </div>
          <div class="info"><div class="text">공포도</div>
            <div class="rateit" data-rateit-value="{{theme.themeHorror}}" data-rateit-ispreset="true" 
            data-rateit-readonly="true" data-rateit-mode="font"  style="font-size:2vw;">
            </div>
          </div>
          <div class="info"><div class="text">인원</div>
            <div id="num">{{theme.themeRecomPeople}}</div>
          </div>
          <button type="submit" class="themelike" name="{{ theme.pk }}" id="count-{{ theme.pk }}">♡   {{ theme.themeLike }}</button>
        </div>
      </div>
      
      <div class="themeDetail">
        {{theme.themeIntro}}
      </div>
      <div class="themeRev">
        <span>테마별 리뷰</span> 
        <a href="{% url 'detail_themeRevAdd' theme.pk %}">
          <span>더보기</span>
        </a>
        <div class="review-box">
          <div class="summary-cont">{{topreview.themeRevContent}}</div>
          <div class="summary-bottom">
            <div class="like-count" id="count-{{ topreview.pk }}">
              ♡{{ topreview.themeRevRecom }}+</p>
            </div>
            <div>
            <input type="button" class="like" name="{{ topreview.pk }}" value="추천">
            </div>
            <div>
            <input type="button" class="hate" name="{{ topreview.pk }}" value="비추천">
            </div>       
          </div>
        </div>
      </div>
    </div>


    <div class="reservation">
      <h3>예약 시뮬레이션</h3>
      <div class="reservation-info">
        <div class="headcount">인원</div>                    
        <input class="input-box" type="text" id='headcount' placeholder="" style="color:#53444F;">
        <label for="headcount">명</label>
        <div class="price">가격</div>
        <div class="per">인당</div>
        <input class="input-box" type="text" id='price' placeholder="" style="color:#53444F;">
        <label for="price">원</label>
      </div>
      <div class="res-date">
        <div>날짜</div>
        <input class="input-box" type="text" id='year' placeholder="" style="color:#53444F;">
        <label for="price">년</label>
        <input class="input-box" type="text" id='month' placeholder="" style="color:#53444F;">
        <label for="price">월</label>
        <input class="input-box" type="text" id='date' placeholder="" style="color:#53444F;">
        <label for="price">일</label>
      </div>
      시간대
      <div class="reservation-time" onclick="alert('차후 구현 예정입니다.')">
        <div class="reservation-top">
          <div class="available"><p>10:20</p><p>예약 가능</p></div>
          <div class="available"><p>11:30</p><p>예약 가능</p></div>
          <div class="unavailable"><p>12:40</p><p>예약 불가</p></div>
          <div class="available"><p>13:50</p><p>예약 가능</p></div>
        </div>
        <div class="reservation-bottom">
          <div class="unavailable"><p>15:00</p><p>예약 불가</p></div>
          <div class="unavailable"><p>16:10</p><p>예약 불가</p></div>
          <div class="available"><p>17:20</p><p>예약 가능</p></div>
          <div class="unavailable"><p>18:30</p><p>예약 불가</p></div>    
        </div>
      </div>
      <div class="total-price">
        <div>합계</div>
        <input class="input-box" type="text" id='total-price' placeholder="" style="color:#53444F;">
        <label for="total-price">원</label>
      </div>
      <div class="reservation-button" onclick="alert('차후 구현 예정입니다.')">
        홈페이지에서 예약하기
      </div>
    </div>

</div>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="/static/js/like.js"></script>
<script type="text/javascript" src="/static/js/hate.js"></script>
<script type="text/javascript" src="/static/js/themelike.js"></script>
<script src="{% static 'widgets/rateit/jquery.rateit.min.js' %}" ></script>
{% endblock js %}
