{% extends './base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/detail_themeRevAdd.css' %}" rel="stylesheet" type="text/css">
<title>detail_themeRevAdd</title>
{% endblock css %}

{% block content %}
  <div class="sides">
    <div class="left-side">
      <div class="theme-info">
        <div class="info-pic">
          <!-- 이미지 넣기 -->
          <img src="{{theme.themeImage.url}}"> 
        </div>
        <div class="info-detail">
        {% for shop in shops%}
        {% if shop.shopID == theme.ShopID_id%}
          <div class="shop-name">{{shop.shopName}}</div>
        {% endif %}
        {% endfor %}
          <div class="theme-name"><strong>{{theme.themeName}}</strong></div>
          <div class="difficulty">
            <div class="difficulty-title"><span>난이도</span>  {{theme.themeDifficulty}}</div>
          </div>
          <div class="horror">
            <div class="horror-title"><span>공포도</span>  {{theme.themeHorror}}</div>
          </div>
          <div class="number">
            <div class="number-title">인원수</div>
            <div class="number-detail">{{theme.themeRecomPeople}}</div>  
          </div>
          <div class="likes"> <!--버튼으로 바꾸기?-->
            <div class="heart-icon"><span class="material-icons-outlined" style="font-size: 1.4vw;">favorite_border</span></div>
            <div class="heart-number">1,200</div>
          </div>
        </div>
      </div>
      
      <div class="theme-describe">
        {{theme.themeIntro}}
      </div>
    </div>

    <div class="right-side">
      <div class="right-side-title"><strong>테마 리뷰</strong></div>
      <div class="theme-reviews">
        <!-- 리뷰 폼 -->
        {% for review in reviews %}
        <div class="box-form">
          <a href="{% url 'detail_themeRevAddDetail' theme.pk review.pk %}">
              {% comment %} <a href=" theme.pk review.pk %}"> {% endcomment %}
          <div class="detail-ment" id="listButton"> 
          {{review.themeRevContent}}  
          </div>
          </a>
        <div class="box-under">
          <div class="theme-likes">
            <div class="theme-heart"> 
              <span class="material-icons-outlined" style="font-size: 20px;">favorite_border</span> 
            </div>
            <div class="theme-heart-number">150+</div>
          </div>
          <button class="like-button">추천</button>
          <button class="dislike-button">비추천</button>
        </div>
        </div>    
        {% endfor %}
          
          
        </div>      
      </div>
      

    </div>
  </div>
{% endblock content %} 
{% comment %} {% block js %}
<script type="text/javascript" src="/static/js/detail_trad.js"></script>
{% endblock js %} {% endcomment %}