{% extends './base.html' %}
{% load static %}
{% block css %}
<link href={% static 'css/list_review.css' %} rel="stylesheet" type="text/css">
{% comment %} <link rel="black-arrow" type="image/png" href="http://127.0.0.1/static/images/black-arrow.png">  {% endcomment %}
{% endblock css %}

{% block content %}
<body>
    <span style="">place for margin
    </span>
    <div>
        {{themeRev.themeRevTitle}}
    </div>
    <div>
        {{themeRev.themeRevRating}}
    </div>
    <div>
        {{themeRev.themeRevDifficulty}}
    </div>
    <div>
        {{themeRev.themeRevHorror}}
    </div>
    <div>
        {{themeRev.themeRevActivity}}
    </div>
    <div>
        {{themeRev.themeRevContent}}
    </div>
    <div>
        {{themeRev.themeRevImage}}
    </div>
    <div>
        {{themeRev.themeRevResult}}
    </div>
    <div>
        {{themeRev.themeRevOccurredTime}}
    </div>
    <div>
        {{themeRev.themeRevDate}}
    </div>
    <div>
        {{themeRev.themeRevWriteDate}}
    </div>
    <div>
        {{themeRev.themeRev_WriterID}}
    </div>
    <div>
        {{themeRev.pk}}
    </div>
    <div>                
      <input type="button" class="like" name="{{ themeRev.pk }}" value="추천">
      <p id="count-{{ themeRev.pk }}">
        {{ themeRev.themeRevRecom }}+</p>
      </p>
    </div>
</body>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="/static/js/like.js"></script>
<script type="text/javascript" src="/static/js/sorted.js"></script>

{% endblock js %}
