{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/home.css' %} rel="stylesheet" type="text/css">
{% endblock css %}
<title>home</title>
{% block content %}
<div class="filters">
  <form action="" method='GET'>
      <div class="search">
          <input class="search-input" placeholder="지점명, 테마명으로 검색하기"  type="text" name="q" value="{{ q }}">
          <button class="search-button" type='submit'><span class="material-icons" style="font-size: 22px;">search</span></button>
      </div>
  </form>
      <div class="option">
          <button class="options" id="options" onclick="dp_menu()">메뉴 <span id="triangle">▼</span> </button>
          <div style="display: none;" id="drop-content" class="drop-content">
              <div class="display-menus">
                  <button class="review-button" onclick="review()">리뷰순 </button> 
                  <button class="distance-button" onclick="distance()">거리순</button> 
                  <button class="price-button" onclick="price()">가격낮은순</button>
              </div>
          </div>
      </div>
  </div>
  <div class="content">  
    <p class="result-number">{{count}}개의 검색결과</p>
    <p class="search-box">
      {% for theme in theme_list %}
            {% comment %} <div>{{theme.themeName}}</div> {% endcomment %}
            {% comment %} <a href="{% url 'detail_theme' theme.pk %}"> {% endcomment %}
              <img src="{{theme.themeImage.url}}">
            {% comment %} </a> {% endcomment %}
      {% endfor %}
      {% for shop in shops %}
        <a href="{% url 'detail_shop' shop.pk %}">
          <img src="{{shop.shopImage.url}}">
        </a>
    {% endfor %}
    </p> 
  </div>
{% endblock content %} 
{% block js %}
<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock js %}

{% comment %} 
{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/home.css' %} rel="stylesheet" type="text/css">
{% endblock css %}
<title>home</title>
{% block content %}
<div class="filters">
  <form action="" method='GET'>
      <div class="search">
          <input class="search-input" placeholder="지점명, 테마명으로 검색하기"  type="text" name="q" value="{{ q }}">
          <button class="search-button" type='submit'><span class="material-icons" style="font-size: 22px;">search</span></button>
      </div>
  </form>
      <div class="option">
          <button class="options" id="options" onclick="dp_menu()">메뉴 <span id="triangle">▼</span> </button>
          <div style="display: none;" id="drop-content" class="drop-content">
              <div class="display-menus">
                  <button class="review-button" onclick="review()">리뷰순 </button> 
                  <button class="distance-button" onclick="distance()">거리순</button> 
                  <button class="price-button" onclick="price()">가격낮은순</button>
              </div>
          </div>
      </div>
  </div>
<div class="content">  
  <p class="result-number">{{count}}개의 검색결과</p>
  <div class="search-box">
    {% for theme in theme_list %}
        <div class="themeImg">
          <div>{{theme.themeName}}</div>
          <a href="{% url 'detail_theme' theme.pk %}">
            <img src="{{theme.themeImage.url}}">
          </a>
        </div>
    {% endfor %}
    {% for shop in shops %}
    <div class="themeImg">
      <a href="{% url 'detail_shop' shop.pk %}">
        <img src="{{shop.shopImage.url}}">
      </a>
    </div>
  {% endfor %}
  </div> 
</div>
{% endblock content %} 
{% block js %}
<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock js %} {% endcomment %}