{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/home.css' %} rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div class="content">
  <div class="search-top">
    empty
  </div> 
  
  <p>{{count}}개의 검색결과</p>
  <div class="search-bottom">
    {% for theme in themes %}
        <div class="themeImg">
          <img src="{% get_static_prefix %}{{theme.themeRevImage}}"/>
        </div>
    {% endfor %}
  </div> 
</div>
{% endblock content %} 