{% extends './base.html' %}
{% load static %}
{% block css %}
<link href={% static 'css/list_review.css' %} rel="stylesheet" type="text/css">
{% endblock css %}

  {% block content %}
  <div class="content">

    <div class="content-top">
      <div class="write"><a href="/new/shopRev">리뷰 작성하기</a></div> 

      {% comment %} 정렬 {% endcomment %}
      <form method="GET" action="{% url 'home' %}">
      <div class="filter">
        <select name="sort" id="sort">
          <option value="recently" id="recently">
                  <span>인기순</span><img src={% static 'images/black-arrow.png' %} width=20%; alt="arrow"/>
          </option>
          <option value="likes" id="likes">좋아요순</option>
          <option value="comments" id="comments">댓글순</option>
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
      </div>

      <div class="filter">
        <span>인기순</span><img src={% static 'images/black-arrow.png' %} width=20%; alt="arrow"/>
      </div>
    </div>   
    <div class="posts">
      <ul class = "row">
        {% for review in reviews %}
        <li class="cell">
          <div class="post">
            <div class="writers">
              <img class="profileImg" src="{% get_static_prefix %}{{review.themeRevImage}}"/>
              <div>
                <div>{{review.themeRev_WriterID}}</div>
                <div>{{review.themeRevWriteDate}}</div>
              </div>
            </div>
            {% for theme in themes%}
            {% if review.theme_ID_id == theme.themeID %}
            {% for shop in shops %}
            {% if shop.shopID == theme.ShopID_id %}
            <div class="info">
              <img src="{% get_static_prefix %}{{review.themeRevImage}}"/>
              <div>
                <div>{{shop.shopName}}</div>
                <div>{{shop.Location}}</div>
                <div>{{shop.Rating}}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            <div class="summary">
              <div class="summary-cont">
                <a href="{% url 'detail_themeRev' review.pk %}">
                {{review.themeRevContent}}
                </a>
              </div>
              <div class="summary-bottom">
                <div class="like-count">{{review.themeRevRecom}}+</div>
                <div class="like">
                <a href="{% url 'list_like' pk=review.pk %}">
                추천
                </a>
                </div>
                <div class="dislike">
                <a href="{% url 'list_hate' pk=review.pk %}">
                비추천
                </a>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        </ul>
    </div>
  <div>
  {% endblock content %}