{% extends './base.html' %}
{% load static %}
{% block css %}
<link href={% static 'css/list_review.css' %} rel="stylesheet" type="text/css">
{% comment %} <link rel="black-arrow" type="image/png" href="http://127.0.0.1/static/images/black-arrow.png">  {% endcomment %}
{% endblock css %}

  {% block content %}
  <div class="content">

    <div class="content-top">
      <div class="write"><a href="/new/shopRev">리뷰 작성하기</a></div> 

      <div class="filter">
        <select name="sort-select" id="sort-select" onchange="location = this.value;">
          <option class="sort-date" value="/list_themeRev">최신순</option>
          <option class="sort-likes" value="?sort=themeRevRecom">인기순</option>
          <option class="sort-rating" value="?sort=themeRevRating">별점순</option>
        </select>
      </div>
    </div>   
    <div class="posts">
      <ul class = "row">
        {% for review in reviews %}
        <li class="cell">
          <div class="post">
            <div class="writers">
              <img class="profileImg" src="{% get_static_prefix %}{{review.themeRevImage}}"/>
              <div>
                <div>{{review.themeRev_WriterID}}</div>
                <div>{{review.themeRevWriteDate}}</div>
              </div>
            </div>
            {% for theme in themes%}
            {% if review.theme_ID_id == theme.themeID %}
            {% for shop in shops %}
            {% if shop.shopID == theme.ShopID_id %}
            <div class="info">
              <img src="{% get_static_prefix %}{{review.themeRevImage}}"/>
              <div>
                <div>{{shop.shopName}}</div>
                <div>{{shop.Location}}</div>
                <div>{{review.themeRevRating}}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            <div class="summary">
              <div class="summary-cont">
                <a href="{% url 'detail_themeRev' review.pk %}">
                {{review.themeRevContent}}
                </a>
              </div>
              <div class="summary-bottom">
                <div class="like-count">{{review.themeRevRecom}}+</div>
                <div class="like">
                <a href="{% url 'list_like' pk=review.pk %}">
                추천
                </a>
                </div>
                <div class="dislike">
                <a href="{% url 'list_hate' pk=review.pk %}">
                비추천
                </a>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        </ul>
    </div>
  <div>
  {% endblock content %}
  {% block js %}
    <script type="text/javascript" src="/static/js/sorted.js"></script>
  {% endblock js %}