{% comment %} 모델 수정 되면 삭제할 페이지 {% endcomment %}
{% extends './base.html' %}
{% load static %}
{% block css %}
<link href={% static 'css/list_review.css' %} rel="stylesheet" type="text/css">
{% endblock css %}

  {% block content %}
  <div class="content">

    <div class="content-top">
      <div class="write"><a href="/new/shopRev">리뷰 작성하기</a></div> 

      <div class="filter">
        <span>인기순</span><img src={% static 'images/black-arrow.png' %} width=20%; alt="arrow"/>
      </div>
    </div>   
    <div class="posts">
      <ul class = "row">
        {% for review in reviews %}
        <li class="cell">
          <div class="post">
            <div class="writers">
              <img class="profileImg" src="{% get_static_prefix %}{{review.shoprevImage}}"/>
              <div>
                <div>{{review.WriterID}}</div>
                <div>{{review.shoprevWDate}}</div>
              </div>
            </div>

            {% for shop in shops%}
            {% if shop.shopID == review.shopID_id %}
            <div class="info">
              <img src="{% get_static_prefix %}{{review.shoprevImage}}"/>
              <div>
                <div>{{shop.shopName}}</div>
                <div>{{shop.Location}}</div>
                <div>{{shop.Rating}}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}

            <div class="summary">
              <div class="summary-cont">{{review.shoprevCont}}</div>
              <div class="summary-bottom">
                <div class="like-count">200+</div>
                <div class="like">추천</div>
                <div class="dislike">비추천</div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        </ul>
    </div>
  <div>
  {% endblock content %} 