{% extends './base.html' %}
{% load static %}
{% block css %}
<link href={% static 'css/list_themeRev.css' %} rel="stylesheet" type="text/css">
{% comment %} <link rel="black-arrow" type="image/png" href="http://127.0.0.1/static/images/black-arrow.png">  {% endcomment %}
{% endblock css %}
{% block header %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" defer></script>
{% endblock header %}
{% block content %}
  <div class="content">
{% comment %} 1.필터 해당 부분  {% endcomment %}
    <div class="content-top">
      <div class="write"><a href="/new/themeRev">리뷰 작성하기 + </a></div> 
      <div class="more">더보기</div>
      {% comment %} <div class="more"><a href="{% url '' %}">더보기</a></div> {% endcomment %}
      <div class="filter">
        <select name="sort-select" id="sort-select" onchange="location = this.value;">
          <option class="sort-date" value="/list_themeRev">최신순 ▼</option>
          <option class="sort-likes" value="?sort=themeRevRecom">인기순 ▼</option>
          <option class="sort-rating" value="?sort=themeRevRating">별점순 ▼</option>
        </select>
      </div>
    </div>   

    <div class="posts">
        {% for review in reviews %}
          <div class="post">
{% comment %} 2.작성자 정보 해당 부분 {% endcomment %}
            <div class="writers">
              <img class="profileImg" src="{% get_static_prefix %}{{review.themeRevImage}}"/>
              <div>
                <div class="writeID">{{review.themeRev_WriterID}}</div>
                <div class="writeDate">{{review.themeRevWriteDate|date:"Y년 m월 d일"}} 작성</div>
              </div>
            </div>
{% comment %} 3.가게 정보 해당 부분 {% endcomment %}
            {% for theme in themes%}
            {% if review.theme_ID_id == theme.themeID %}
            {% for shop in shops %}
            {% if shop.shopID == theme.ShopID_id %}
            <div class="info">
              <a href="{% url 'detail_theme' theme.pk %}">
                <img src="{% get_static_prefix %}{{theme.themeImage}}"/> 
              </a>
              {% comment %} <img src="{% get_static_prefix %}{{theme.themeImage}}"/>  {% endcomment %}
        
              <div>
                <div class="themeName">{{theme.themeName}}</div>
                <div class="shopName">{{shop.shopName}}</div>
                <div class="themeRevRating">{{review.themeRevRating}}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
{% comment %} 4.리뷰 내용 해당 부분 {% endcomment %}
            <div class="summary">
              <div class="summary-cont">
                <a href="{% url 'detail_themeRev' review.pk %}">
                {{review.themeRevContent}}
                </a>
              </div>
{% comment %} 5.좋아요 해당 부분 {% endcomment %}
              <div class="summary-bottom">
                <div class="like-count" id="count-{{ review.pk }}">
                  ♡{{ review.themeRevRecom }}+</p>
                </div>
                <div>
                <input type="button" class="like" name="{{ review.pk }}" value="추천">
                </div>
                <div>
                <input type="button" class="hate" name="{{ review.pk }}" value="비추천">
                </div>
              </div>

            </div>
          </div>
        {% endfor %}
    </div>
  <div>
  
{% endblock content %}
{% block js %}
<script type="text/javascript" src="/static/js/like.js"></script>
<script type="text/javascript" src="/static/js/hate.js"></script>
<script type="text/javascript" src="/static/js/sorted.js"></script>
{% endblock js %}