{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/new_themeRev.css' %} rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
  <div class="content">
    <form action="" method="post">
        {% csrf_token %}
    <div class="board_wrap">
        <div class="board_title">
            <div class="board_title_txt">
                <strong>리뷰 작성</strong>
            </div>
            <div class="board_title_btn">
                <button type="submit">join</button>
            </div>
        </div>
        <div class="write">
          <div class="star_review">
            <div>
                <label for='themeRevRating'>총점</label>
                <form id="ratingForm">                
                    <div id="star_review_rate"></div>
                    <div class="star">
                    <input type="radio" name="themeRevStar" id="themeRevRating1" value="1">
                    <label for="themeRevRating1" class="fa fa-star"></label>
                    <input type="radio" name="themeRevStar" id="themeRevRating2" value="2">
                    <label for="themeRevRating2" class="fa fa-star"></label>
                    <input type="radio" name="themeRevStar" id="themeRevRating3" value="3">
                    <label for="themeRevRating3" class="fa fa-star"></label>
                    <input type="radio" name="themeRevStar" id="themeRevRating4" value="4">
                    <label for="themeRevRating4" class="fa fa-star"></label>
                    <input type="radio" name="themeRevStar" id="themeRevRating5" value="5">
                    <label for="rthemeRevRating5" class="fa fa-star"></label>
                    </div>
                </form>
            </div>
                <label for='themeRevDifficulty'>Difficulty</label>
                <input type='number' min='1' max='5' step='1' id="themeRevDifficulty" name="themeRevDifficulty">
                <div class="star_review_rate">        </div>
                <div class="starDifficulty">
                    <input type="radio" name="themeRevDifficulty" id="themeRevDifficulyt1" value="1" v-model="ratings">
                    <label for="themeRevDifficulty1" class="fa fa-star"></label>
                    <input type="radio" name="themeRevDifficulty" id="themeRevDifficulty2" value="2" v-model="ratings">
                    <label for="themeRevDifficulty2" class="fa fa-star"></label>
                    <input type="radio" name="themeRevDifficulty" id="themeRevDifficulty3" value="3" v-model="ratings">
                    <label for="themeRevDifficulty3" class="fa fa-star"></label>
                    <input type="radio" name="themeRevDifficulty" id="themeRevDifficulty4" value="4" v-model="ratings">
                    <label for="themeRevDifficulty4" class="fa fa-star"></label>
                    <input type="radio" name="themeRevDifficulty" id="themeRevDifficulty5" value="5" v-model="ratings">
                    <label for="themeRevDifficulty5" class="fa fa-star"></label>
                </div>
            </div>
            <div>
                <label for='themeRevHorror'>Horror</label>
                <input type='number' min='1' max='5' step='1' id="themeRevHorror" name="themeRevHorror">
                <div class="star_review_rate">        </div>
                <div class="starHorror">
                    <input type="radio" name="themeRevRating" id="themeRevRating1" value="1" v-model="ratings">
                    <label for="themeRevRating1" class="fa fa-star"></label>
                    <input type="radio" name="themeRevRating" id="themeRevRating2" value="2" v-model="ratings">
                    <label for="themeRevRating2" class="fa fa-star"></label>
                    <input type="radio" name="themeRevRating" id="themeRevRating3" value="3" v-model="ratings">
                    <label for="themeRevRating3" class="fa fa-star"></label>
                    <input type="radio" name="themeRevRating" id="themeRevRating4" value="4" v-model="ratings">
                    <label for="themeRevRating4" class="fa fa-star"></label>
                    <input type="radio" name="themeRevRating" id="themeRevRating5" value="5" v-model="ratings">
                    <label for="rthemeRevRating5" class="fa fa-star"></label>
                </div>
            </div>
            <div>
                <label for='themeRevActivity'>Activity</label>
                <input type='number' min='1' max='5' step='1' id="themeRevActivity" name="themeRevActivity">
                <div class="star_review_rate">        </div>
                <div class="starActivity">
                    <input type="radio" name="themeRevRating" id="themeRevRating1" value="1" v-model="ratings">
                    <label for="themeRevRating1" class="fa fa-star"></label>
                    <input type="radio" name="themeRevRating" id="themeRevRating2" value="2" v-model="ratings">
                    <label for="themeRevRating2" class="fa fa-star"></label>
                    <input type="radio" name="themeRevRating" id="themeRevRating3" value="3" v-model="ratings">
                    <label for="themeRevRating3" class="fa fa-star"></label>
                    <input type="radio" name="themeRevRating" id="themeRevRating4" value="4" v-model="ratings">
                    <label for="themeRevRating4" class="fa fa-star"></label>
                    <input type="radio" name="themeRevRating" id="themeRevRating5" value="5" v-model="ratings">
                    <label for="rthemeRevRating5" class="fa fa-star"></label>
                </div>
            </div>
          </div> 
          <div class="visited">
              <div class="visited_title">방문한 방탈출 테마</div>
              <div class="visited_img"><img src="#"></div>
              <div class="visited_info_title"></div>
              <div class="visited_info_place"></div>
              <div class="visited_info_date"></div>
          </div>
          <div class="booked">
              <div class="booked_title">예약했던 방탈출에서 리뷰할 테마를 골라보세요</div>
              <div><img src="#"></div>
              <div><img src="#"></div>
              <div><img src="#"></div>
              <div><img src="#"></div>
          </div>
          <div class="text-review">
            <div>
                <label for='themeRevTitle'>Title</label>
                <input type='text' id="themeRevTitle" name="themeRevTitle">
            </div>
            <div>
                <label for='themeRevContent'>Content</label>
                <input type='text' id="themeRevContent" name="themeRevContent">
            </div>  
              <div class="text-review_title">텍스트리뷰</div>
              <textarea name="name" rows="8" cols="80"></textarea>
          </div>
                <div>
            <label for='themeRevImage'>Image</label>
            <input type='text' id='themeRevImage' name='themeRevImage'>
        </div>
        <div>
            <label for='themeRevResult'>result</label>
            실패 <input type='radio' id='themeRevResult' name='themeRevResult' value=False>
            성공 <input type='radio' id='themeRevResult' name='themeRevResult' value=True>
        </div>
        <div>
            <label for='themeRevOccurredTime'>OccurredTime</label>
            <input type='time' id='themeRevOccurredTime' name='themeRevOccurredTime'>
        </div>
        <div>
            <label for='themeRevDate'>Date</label>
            <input type='date' id='themeRevDate' name='themeRevDate' value='1'>
        </div>
    </div>
    </form>
  </div>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="/static/js/like.js"></script>
<script type="text/javascript" src="/static/js/sorted.js"></script>
<script type="text/javascript" src="/static/js/new_themeRev.js"></script>

{% endblock js %}
