{% include "widgets/star_rate.html" %}

<form action="" method="post">
  {% csrf_token %}
  <div class="submit">
  <table>
  {{form.as_table}}
  </table>
  <input type="submit"/>
  </div>
</form> 

{% comment %} 

{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/new_themeRev.css' %} rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}
{% include "widgets/star_rate.html" %}
  <div class="content">
    <form action="" method="post">
      {% csrf_token %}
      <div class="submit">
      <table>
      {{form.as_table}}
      </table>
      <input type="submit"/>
      </div>
    </form>
  </div> 

{% endblock content %}
{% block js %}
<script type="text/javascript" src="/static/js/new_themeRev.js"></script>
{% endblock js %}  {% endcomment %}
