{% include "widgets/star_rate.html" %}

<form action="" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    <labl for="{{ field.id_for_label }}">{{ field.label }}</labl>
    <input type="{{ field.field }}" class="form-control"
        id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}">
  </div>
  {% if field.errors %}
  <span style="colro: red">{{ form.errors }} </span>
  {% endif %}

  {% endfor %}
  <input type="submit" class="btn btn-primary">로그인</button>
</form> 

{% comment %} 

{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/new_themeRev.css' %} rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}
{% include "widgets/star_rate.html" %}
  <div class="content">
    <form action="" method="post">
      {% csrf_token %}
      <div class="submit">
      <table>
      {{form.as_table}}
      </table>
      <input type="submit"/>
      </div>
    </form>
  </div> 

{% endblock content %}
{% block js %}
<script type="text/javascript" src="/static/js/new_themeRev.js"></script>
{% endblock js %}  {% endcomment %}
