{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/new_themeRev.css' %} rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}
  <div class="content">
    <form action="" method="post">
        {% csrf_token %}
                <label for='themeRevRating'>총점</label>
                <form class="rate-form" action="" method="POST" id="{{theme.id}}">
                  {% csrf_token%}           
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="first"></button>
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="second"></button>
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
                    <button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
                </form>
                <div id="confirm-box"></div>

          <div class="text-review">
            <div>
                <label for='themeRevTitle'>Title</label>
                <input type='text' id="themeRevTitle" name="themeRevTitle">
            </div>
            <div>
                <label for='themeRevContent'>Content</label>
                <input type='text' id="themeRevContent" name="themeRevContent">
            </div>  
              <div class="text-review_title">텍스트리뷰</div>
              <textarea name="name" rows="8" cols="80"></textarea>
          </div>
                <div>
        </div>
        <div>
            <label for='themeRevOccurredTime'>OccurredTime</label>
            <input type='time' id='themeRevOccurredTime' name='themeRevOccurredTime'>
        </div>
        <div>
            <label for='themeRevDate'>Date</label>
            <input type='date' id='themeRevDate' name='themeRevDate' value='1111-11-11'>
        </div>
    </div>
    </form>
    theme_ID
  </div> 
타이틀, 별점, 컨텐츠, 일어난시간, 날짜, 쓴날짜, 테마아이디, 유저아이디

{% endblock content %}
{% block js %}
<script type="text/javascript" src="/static/js/new_themeRev.js"></script>
{% endblock js %}
