{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/recommend.css' %} rel="stylesheet" type="text/css">
  <title>recommend</title>
{% endblock css %}
{% block content %}
<form action="" method='GET'>
  <div class="recommend-top">
  <p class="title">추천 키워드</p>
    <p>
    <button class="rev-button" name="people" value="{{ '3' }}">셋이 놀기 좋은</button> 
    <button class="rev-button" name="rating" value="{{ '4' }}">스토리가 치밀한</button> 
    <button class="rev-button" name="genre" value="{{ '미스터리' }}">내가 탐정이라면?</button> 
    <button class="rev-button" name="people" value="{{ '2' }}">연인과 함께</button> 
    <button class="rev-button" name="genre" value="{{ '힐링' }}">마음이 따뜻해지는</button> 
    <button class="rev-button" name="horror" value="{{ '4' }}">오싹오싹 공포체험</button> 
    <button class="rev-button" name="difficulty" value="{{ '3' }}">방탈출 초보 추천</button> 
    </p>
  </div>  
</form>

  <div class="content">
    <p class="recommend-box">
    {% for theme in themes %}
          <a href="{% url 'detail_theme' theme.pk %}">
            <img src="{{theme.themeImage.url}}">
          </a>
    {% endfor %}
    {% for shop in shops %}
        <a href="{% url 'detail_shop' shop.pk %}">
          <img src="{{shop.shopImage.url}}">
        </a>
    {% endfor %}
    </p>
  </div> 
{% endblock content %}