{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/recommend.css' %} rel="stylesheet" type="text/css">
  <title>recommend</title>
{% endblock css %}
{% block content %}
  <div class="recommend-top">
  <p class="title">추천 키워드</p>
  {% comment %} <div class="keywords"> {% endcomment %}
    <p>
    <button class="review-button" onclick="">셋이 놀기 좋은</button> 
    <button class="review-button" onclick="">스토리가 치밀한</button> 
    <button class="review-button" onclick="">내가 탐정이라면?</button> 
    <button class="review-button" onclick="">연인과 함께</button> 
    <button class="review-button" onclick="">동화속 주인공되기</button> 
    <button class="review-button" onclick="">오싹오싹 공포체험</button> 
    <button class="review-button" onclick="">방탈출 초보 추천</button> 
    </p>
  {% comment %} </div> {% endcomment %}
  
  </div>  
  <div class="content">
    <p class="recommend-box">
    {% for theme in themes %}
          <a href="{% url 'detail_theme' theme.pk %}">
            <img src="{{theme.themeImage.url}}">
          </a>
    {% endfor %}
    {% for shop in shops %}
        <a href="{% url 'detail_shop' shop.pk %}">
          <img src="{{shop.shopImage.url}}">
        </a>
    {% endfor %}
    </p>
  </div> 
{% endblock content %}