<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {{shop.shopName}}
    </div>
    <div>
        {{shop.Location}}
    </div>
    <div>
        {{shop.OpenTime}}
    </div>
    <div>
        {{shop.Rating}}
    </div>
    <div>
        {{shop.PhoneNum}}
    </div>
    <div>
        {{shop.Price}}
    </div>
    <div>
        {{shop.PageLink}}
    </div>
    <div>
        {{shop.shopIntro}}
    </div>
    <div>
        리뷰
        <br>
        {% for review in reviews %}
        {{review.shoprevCont}}
        {{review.recom}}
        {{review.nrecom}}
        <br>
        {% endfor %}
    </div>
</body>
</html>