<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {{theme.themeName}}
    </div>
    <div>
        {{theme.themeTimeLimit}}
    </div>
    <div>
        {{theme.themeRating}}
    </div>
    <div>
        {{theme.themeDifficulty}}
    </div>
    <div>
        {{theme.themeHorror}}
    </div>
    <div>
        {{theme.themeActivity}}
    </div>
    <div>
        {{theme.themeRecomPeople}}
    </div>
    <div>
        {{theme.themeGenre}}
    </div>
    <div>
        리뷰
        <br>
        {% for review in reviews %}
        {{review.shoprevCont}}
        {{review.recom}}
        {{review.nrecom}}
        <br>
        {% endfor %}
    </div>
</body>
</html>