{% load static %}

{% comment %} {% include "django/forms/widgets/input.html" %} {% endcomment %}

{{ form.media }}
{% comment %} 
<link rel="stylesheet" href="{% static 'widgets/rateit/rateit.css' %}">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="{% static 'widgets/rateit/jquery.rateit.min.js' %}" ></script> {% endcomment %}
{% comment %} <div id="star_{{ widget.attrs.id }}" class="rateit" data-rateit-backingfld="#{{ widget.attrs.id }}"></div> {% endcomment %}

{% comment %} <input type="rating" name="grade" value="0" required="" id="id_grade" min="0" max="5" step="1" style="display:none;">
<div class="rateit rateit-bg" data-rateit-backingfld="#id_grade" data-rateit-mode="font"  style="font-size:50px"></div> {% endcomment %}


{% comment %} include만으로 동작하는 코드 {% endcomment %}
{% comment %} <form action="" method="post">
  {% csrf_token %}
      <input type="rating" name="grade" value="0" required="" id="id_grade" min="0" max="5" step="1" style="display:none;">
      <div class="rateit rateit-bg" data-rateit-backingfld="#id_grade" data-rateit-mode="font"  style="font-size:50px"></div>
      <input type="submit"/>
</form> {% endcomment %}


<input type="rating" name="grade" value="0" required="" id="id_grade" min="0" max="5" step="1" style="display:none;">
<div class="rateit rateit-bg" data-rateit-backingfld="#id_grade" data-rateit-mode="font"  style="font-size:50px"></div> 