

body{
  color: #53444F;  /* base */
  font-family: 'NanumSquare';  /* base */
  background-color: #F8F8F8;  /* base */
  font-size: 1vw;
}

html, body{
  height: 100%;
}

.wrap {
  height: 100%;
}

.form{
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 26%;
  margin-right: 26%;
  height: 100%;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}


.edit-title{
  margin-bottom: 6vh;
  font-size: 1.5vw;
  font-weight: 800;
  margin-top: 11vh;
}

.edit{
  display: flex;
  align-items: center; 
  flex-direction: column;
}

img{
  width: auto; height: auto;
  max-width: 1.9vw;
  max-height: 1.9vw;
  margin: 0px;
}



.submit-button{
  background-color: #F55C03;
  border-color: #F55C03; 
  border: 0;
  outline: 0;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 1vw;
  font-family: 'NanumSquare';
  /* width: 270px; */
  width: 22.6vw;
  height: 4.7vh;
  border-radius: 35px;
  margin-bottom: 2vh;
  cursor: pointer;
}

a:link, a:visited {
  text-decoration: none;
  color: #53444F;
}

input{
  width: 19.5vw;
  height: 3.8vh;
  border-radius: 35px;
  border-color: #5c4f59;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  /* text-align: center; */
  border-width: 1px;
  margin-bottom: 2.2vh; 
}

input::placeholder{
  color: #53444F;
  font-size: 1vw;
  font-family: 'NanumSquare';
}


a.nav-mypage{
  color:#F55C03;
  border-bottom: solid 3px #F55C03;
}


/* 날짜 */

input[type="date"]::before {
  content: attr(data-placeholder);
  margin-right: 5.6vw;
  flex: 1;
  font-size: 1vw;
  color: #53444F;
  font-family: 'NanumSquare';
}


 input[type="date"] { 
  font-size: 1vw;
  color: #53444F;
  font-family: 'NanumSquare';
  padding-right: 0.5vw;
  width: 20.5vw;
  height: 4.4vh;
 }

 input[type=date]::-webkit-calendar-picker-indicator {
  margin-left: 0px;
  margin-right: 5px;
}

/*성별  */
select{
  width: 22.6vw;
  height: 4.4vh;
  border-radius: 35px;
  border-color: #5c4f59;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  /* text-align: center; */
  border-width: 1px;
  margin-bottom: 2.4vh; 
  font-size: 1vw;
  font-family: 'NanumSquare';
  color: #53444F;
  appearance: none;
}

input:focus {
  outline: 1.5px solid #F55C03;
  border-color: #F55C03;
}

select:focus {
  outline: 1.5px solid #F55C03;
  border-color: #F55C03;
}

.nickname{
  font-size: 12px;
}

.id{
  pointer-events: none;
}

@media (max-width: 550px) {
  .edit-title{
    margin-top: 10vmax;
    font-size: 2.5vmax;
  }
  
  .form{
    margin-left: 12%;
    margin-right: 12%;
  }

  input{
    width: 46vw;
    height: 4vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-bottom: 2vh;
  }

  .submit-button{
    width: 51.5vw;
    height: 4.5vh;
    font-size: 2.4vw;
    margin-bottom: 2vh;
  }

  img{
    width: auto; height: auto;
    max-width: 5vw;
    max-height: 5vw;
    margin: 0px;
  }

  select{
    width: 51.5vw;
    height: 4.3vh;
    font-size: 2.2vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-bottom: 2vh;
  }

  input[type="date"]::before {
    content: attr(data-placeholder);
    flex: 1;
    margin-right: 9px;
    font-size: 2.3vw;
  }
  
  input::placeholder{
    font-size: 2.3vw;
  }
  
   input[type="date"] { 
    font-size: 2.3vw;
    padding-left: 2.5vw;
    padding-right: 1vw;
    width: 47vw;
    margin-bottom: 2vh;
   }
}