html{height: 100%;}
body{position: relative;width: 100%;height: 100%;}

.content{
  color: #53444F;
  font-family: 'NanumSquare';
  display:flex;
  flex-direction: column;
  top: 27%;
  left: 8%;
  position: absolute;
}

a.nav-search{
  color:#F55C03;
  border-bottom: solid 3px #F55C03;
}

.filters{
  margin-top: 13vh;
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  justify-content: center;
}

body{
  position: relative;
}

.search-input{
  border-radius: 30px;
  height: 25px;
  width: 70vw;
  padding-left: 15px;
  padding-right: 20px;
  border: solid 1px ; 
  border-color: #53444F;
}

.search-input::-webkit-input-placeholder{
  text-align: center;
  color: #53444F;
  font-family: 'NanumSquare'; 
}

.search{
  position: relative;
}

.material-icons{
  color:#53444F;
}

.search-button{
  position: absolute;
  left: 69vw;
  top: 3px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #f55c0300;
  width: 30px;
  height: 28px;
}

.option{
  margin-left: 20px;
}

.options{
  border-radius: 30px;
  color:#F55C03;
  background-color:  white;
  border-color: #F55C03;
  border: solid 1.5px;
  height: 30px;
  width: 110px;
  font-family: 'NanumSquare'; 
}

.drop-content{
  background-color: #F55C03;
  height: 80px;
  width: 110px;
  border-radius: 15px;
}

.display-menus{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  height: 50px;
}

.review-button{
  margin-top: 30px;
}

.review-button, .distance-button, .price-button{
  height: 20px;
  width: 105px;
  border-radius: 30px;
  margin-left: 3px;
  margin-bottom: 3px;
  background-color: #F55C03;
  border-color: #F55C03;
  color: white;
  border: 0;
  outline: 0;
  font-family: 'NanumSquare'; 
}

@media (max-width: 600px){
  .filters{
    margin-top: 10vh;
    margin-left: 5px;
    margin-right: 10px;
  }

  .search-input{
    width: 47vw;
    padding-right: 25px;
    padding-left: 10px;
  }

  .search-button{
    left: 47vw;
  }

  .option{
    margin-left: 12px;
  }
}

p{
  margin-top:2vh;
  margin-bottom: 2vh;
}

.search-bottom{
  height:40vh;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-bottom > .themeImg {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
  flex-basis:20%;
  float:left;
}

.search-bottom > .themeImg > a > img{
  height: 24vh;
  width: 15vmax;
  border-radius: 20px;
} 