html{height: 100%;}
body{position: relative;width: 100%;height: 100%;}

.content{
  color: #53444F;
  font-family: 'NanumSquare';
  display:flex;
  flex-direction: column; 
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
}

/* write review, filter */
.content-top{
  display: flex;
  margin-bottom: 15px;
  padding-left: 6%;
  align-items: center;
}

.content-top > .write{
  flex-basis: 90%;
}

.content-top > .filter{
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  padding: 4px 3px 10px 10px;
  width:60px;
  height:10px;
  font-size:14px;
}

.content-top > .filter > select {
  width: 60px;
  padding: 0 .5em;
  border: none;
  background: url('images/black-arrow.png');
  /* background: url('/images/black-arrow.png') no-repeat 95% 50%; */
  background-size: 20px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

.content-top > .filterselect::-ms-expand {
  display: none;
  }
  
/* each review */
.cell {
  float:left;
  box-sizing:border-box;
  list-style:none;
}

.row::after{
  content:"";
  display:box;
  clear:both;
}

.posts > ul > li {
  width:33%;
  padding: 0 10px 20px;
}

/* 타블릿 */
@media(max-width:1023px) {
  .content-top{
    display: flex;
    margin-bottom: 20px;
    padding-left: 7%;
    font-size:15px;
  }

  .content-top > .write{
    flex-basis: 87%;
  }

  .content-top > .filter{
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: 4px 3px 10px 10px;
    width:56px;
    height:10px;
    font-size:14px;
  }

  .posts > ul > li{
    width:50%;
  }
}

/* 스마트폰 */
@media(max-width:767px){
  .content-top{
    display: flex;
    margin-bottom: 20px;
    padding-left: 10%;
    font-size:15px;
  }

  .content-top > .write{
    flex-basis: 62%;
  }

  .content-top > .filter{
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: 4px 3px 10px 10px;
    width:56px;
    height:10px;
    font-size:14px;

  }

  .posts > ul > li{
    width:80%;
    margin: 0 0 30px 0px;
    font-size:18px;
  }

}

/* writer info */
.writers{
  border: 1px solid black;
  display:flex;
  border-radius: 20px;
  padding:3% 0% 7% 5%;
  height:30px;
}

.writers > .profileImg{
  border-radius: 70%;
  overflow: hidden;
  height: 40px;
  width: 40px;
  margin-right:2%;
}

/* store info */
.info{
  border: 1px solid black;
  border-radius: 20px;
  display:flex;
  padding:5% 6% 5% 5%;
  height:120px;
  font-size: 14px;

}

.info > img{
  border-radius: 20px;
  margin: 0 4% 0 0;
  height:120px;
  width: 100px;
}


/* review summary */
.summary{
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  padding:5% 5% 5% 5%;
  height:270px;
}

.summary > .summary-cont{
  padding:5% 5% 0% 5%;
  line-height: 1.3;
  height:13em;
  overflow:hidden;
  word-wrap: break-word;
  display: -webkit-box;
  /* white-space:nowrap; */
  -webkit-line-clamp : 10;
  -webkit-box-orient: vertical;

}

.summary > .summary-cont > a {
  text-decoration: none;
  color: #53444F;
}

/* like count  */
.summary-bottom{
  display:flex;
  margin:10% 5% 0 5%;
}

.summary-bottom > .like-count{
  flex-basis: 70%;
}

.summary-bottom > .like{
  width:50px;
}

.summary-bottom > .like:hover{
  color:#F55C03;
}

.summary-bottom > .dislike{
  width:60px;
}

.summary-bottom > .dislike:hover{
  color:#F55C03;
}
