/* vx, vh단위로 수정할 것 */
html{height: 100%;}
body{position: relative;width: 100%;height: 100%;}

.checked {
  color: orange;
}

.my-btn {
  background-color: inherit impor !important;
  border: 0 !important;
}

.content{
  color: #53444F;
  font-family: 'NanumSquare';
  display:flex;
  flex-direction: column; 
  position: absolute;
  width: 80vmax;
  top: 8%;
  left: 25vw;
}

.board_wrap{
  display: flex;
  flex-direction: column;
  width: 740px;
  height: auto;
  padding: 25px;
  background-color: #e7e5e5;
  height: 100vh;
}

.board_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;;
}

.board_title_btn {
    width: 100px;
    height: 26px;
    text-align: center;
    border: 1px solid #F55C03;
    background-color: #ffff;
    border-radius: 25px; 
}

.board_title_btn a{
    color:#F55C03;
    font-size: 10px;
}
.star_review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.star_review, .visited, .booked, .text-review {
    padding: 15px;
    width: 700px;
    background-color: #ffff;
    border: 1px solid #b3aba7;
    border-radius: 15px;
}

.star_review:hover, .visited:hover, .booked:hover, .text-review:hover {
    border: 1px solid #F55C03;
    border-radius: 15px;
}

.star, .starDifficulty{
    font-size: 36px;
    color:#ffe400;
}

.star input, .starDifficulty input, .starHorror input, .starActivity input {
    display: none;
}


.star input:checked + label ~ label, .starDifficulty input:checked + label ~ label {
    color: #838383;
}
.star label:active, .starDifficulty label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.rating {
	cursor: pointer;
}

.rating .rating-star {
  display: inline-block;
  position: relative;
  padding-right: 5px;
  margin-left: -5px;
  color: #e3cf7a;
}
.rating .selected:before {
  content: '\f005';
}

.text-review textarea {
    border: #ffff;
}

