{% extends '../base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/mypage.css' %}" rel="stylesheet" type="text/css">
<title>mypage</title>
{% endblock css %}

{% block content %}
  <div class="profile-form">
     <div class="profile">
        <div class="profile-image">
          <img src="{% static 'images/plus.png' %}">
          <img src="" onerror="this.src={% static 'plus.png' %}">
        </div>
        <input type="file" class="image-upload">
     </div>
     <div class="profile-ment">
      {{user.usersSubname}}님, 안녕하세요.
     </div>
     <div class="buttons">
        <div class="on-buttons">
            <button type="button" class="modify" onclick="location.href=''">회원정보 수정</button>
            <button type="button" class="likes" onclick="location.href=''">좋아요</button>
        </div>
        <div class="under-buttons">
            <button type="button" class="my-review" onclick="location.href=''">리뷰 관리</button>
            <button type="button" class="logout" onclick="location.href='/logout'">로그아웃</button>
        </div>
      </div>
  </div>

{% endblock content %}

