{% extends './base.html' %}
{% load static %}
{% block css %}
  <link href={% static 'css/new_themeRev.css' %} rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'widgets/rateit/rateit.css' %}">
  <title>new review</title>
{% endblock css %}
{% block content %}
  <div class="content">
    <form action="" method="post">
      {% csrf_token %}
        <div class="submit">
          <h2>리뷰 작성</h2>
          <button type="submit" class="write">작성 완료</button>
        </div>
    
    {% comment %} 별점 선택하면 숫자로 환산해서 themeRevRating에 반영 {% endcomment %}
    <div class="star-review box">
      <div class="boxTitle text-top">별점 리뷰</div>
      <input type="range" name="themeRevRating" value="5" required="" id="id_grade" min="0" max="5" step="1" style="display:none;">
      <div id="star_id_grade" class="rateit rateit-bg" data-rateit-backingfld="#id_grade" data-rateit-mode="font" style="font-size:3vw">
      </div>
    </div>

    {% comment %} 테마 선택해서 이미지 불러오기 {% endcomment %}
    <div class="visited-theme box">
      <div class="boxTitle text-middle">방문한 방탈출 테마</div>
      <div class="themeImg"></div>
      <div class ="theme-info">
        <div class="fieldWrapper">
          <label for="themeid">테마명:</label>
          {{form.theme_ID}}
        </div>
        <div class="fieldWrapper">
          <label for="shopid">지점명:</label>
          {{form.shop_ID}}
        </div>
        <div class="fieldWrapper">
          <label for="date">방문날짜:</label>
          {{form.themeRevDate}}
        </div>
      </div>
    </div>

    <div class="text-review box">
      <div class="boxTitle text-bottom">텍스트 리뷰</div>
      {{form.themeRevContent}}
    </div>
  </form>
  </div> 

{% endblock content %}
{% block js %}
<script src="{% static 'widgets/rateit/jquery.rateit.min.js' %}" ></script>
<script type="text/javascript" src="/static/js/new_themeRev.js"></script>
{% comment %} <script src="{% static 'widgets/rateit/jquery.rateit.js' %}" ></script> {% endcomment %}
<script>
  $('#star_id_grade').click(function(){
    star = $('#star_id_grade').rateit('value')
    $('#id_grade').text(star)
    $('#id_grade').val(star)
    test = $('#id_grade')
    console.log(test.val())
  });
</script>
{% endblock js %}